@model IEnumerable<TallyBook_Store_Management_System.Models.UserTb>

@{
    ViewBag.Title = "ViewUser";
}

<h2>User Lists</h2>


<body>

    <div class="navbar navbar-inverse navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                @Html.ActionLink("Tally Book", "AdminDashboard", "Admin", new { area = "" }, new { @class = "navbar-brand" })

            </div>
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav">
                    <li>@Html.ActionLink("Home", "AdminDashboard", "Admin")</li>
                    <li>@Html.ActionLink("About", "About", "Home")</li>
                    <li>@Html.ActionLink("Logout", "AdminLogin", "Admin")</li>
                </ul>
            </div>
        </div>
    </div>
</body>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.UName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.UEmail)
        </th>
        @*<th>
            @Html.DisplayNameFor(model => model.UPassword)
        </th>*@
        <th>
            @Html.DisplayNameFor(model => model.UShopName)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.UName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.UEmail)
        </td>
        @*<td>
            @Html.DisplayFor(modelItem => item.UPassword)
        </td>*@
        <td>
            @Html.DisplayFor(modelItem => item.UShopName)
        </td>
        @*<td>
            @Html.ActionLink("Edit", "Edit", new { id=item.UId }) |
            @Html.ActionLink("Details", "Details", new { id=item.UId }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.UId })
        </td>*@
    </tr>
}

</table>
<div>
    @Html.ActionLink("Return", "AdminDashboard")
</div>
