@model IEnumerable<TallyBook_Store_Management_System.Models.InvoiceTb>

@{
    ViewBag.Title = "ShowInvoice";
}

<h2>Customer Invoice List</h2>

<p>
    @Html.ActionLink("Add to List", "UpdateInvoice")
</p>
<table class="table">
    <tr>

        <th>
            @Html.DisplayNameFor(model => model.ListName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.LQuantity)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Bill)
        </th>

        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.ListName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.LQuantity)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Bill)
            </td>
            @*<td>
                    @Html.DisplayFor(modelItem => item.CustomerTb.CName)
                </td>*@
            <td>
                @Html.ActionLink("Edit", "EditInvoice", new { id = item.InvoiceId }) |
                @*@Html.ActionLink("Details", "Details", new { id=item.InvoiceId }) |*@
                @Html.ActionLink("Delete", "DeleteInvoice", new { id = item.InvoiceId })
            </td>
        </tr>
    }

</table>
<hr>
<h4 align="Center">
    Total : <b>@ViewBag.Total</b>
</h4>

<div>
    @Html.ActionLink("Return", "ViewCustomer")
</div>