@model IEnumerable<TallyBook_Store_Management_System.Models.CustomerTb>

@{
    ViewBag.Title = "ViewCustomer";
}

<h2>Customer List</h2>

<p>
    @Html.ActionLink("Add New Customer", "UpdateCustomer")
</p>
<body>
    <div class="navbar navbar-inverse navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                @Html.ActionLink("Tally Book", "Dashboard", "User", new { area = "" }, new { @class = "navbar-brand" })

            </div>
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav">
                    <li>@Html.ActionLink("Home", "Dashboard", "User")</li>
                    <li>@Html.ActionLink("About", "About", "Home")</li>
                    <li>@Html.ActionLink("Logout", "Logout", "User")</li>
                </ul>
            </div>
        </div>
    </div>

    
</body>


<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.CName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.CPhoneNo)
        </th>
        @*<th>
            @Html.DisplayNameFor(model => model.CDue)
        </th>*@
        @*<th>
                @Html.DisplayNameFor(model => model.UserTb.UName)
            </th>*@
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.CName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CPhoneNo)
            </td>
            @*<td>
                @Html.DisplayFor(modelItem => item.CDue)
            </td>*@
            @*<td>
                    @Html.DisplayFor(modelItem => item.UserTb.UName)
                </td>*@
            <td>
                @Html.ActionLink("Edit", "EditCustomer", new { id = item.CId }) |
                @Html.ActionLink("Details", "ShowInvoice", new { id = item.CId }) |
                @Html.ActionLink("Delete", "DeleteCustomer", new { id = item.CId })
            </td>
        </tr>
    }

</table>
<div>
    @Html.ActionLink("Return", "Dashboard")
</div>